<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"></script>
<script src="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>


<div class="clearfix"></div>

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row ">
      <a class="btn btn-primary ml-5" href="/admin/addbanner">Add Banner</a>
      <div class="col-md-12 p-3">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <div class="table-responsive">
              <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="th-sm">No
                    </th>
                    <th class="th-sm">Season Name
                    </th>
                    <th class="th-sm">Description
                    </th>
                    <th class="th-sm">Image
                    </th>
                    <th class="th-sm">Status
                    </th>
                    <th class="th-sm">Activities
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {{#each banner}}
                  <tr>
                    <th scope="row">{{math @index "+"1}}</th>
                    <td>{{this.seasonName}}</td>
                    <td>{{this.description}}</td>
                    <td><img style="height: 50px; width: 50px;" src='/banner-images/{{this.Image}}' alt=""></td>
                    <td>
                      {{!-- '/productImage/{{this.image1}}' --}}
                      {{#if blockstatus}}
                      <a href="" class="btn btn-success">On screen</a>
                      {{else}}
                      <a href="" class="btn btn-danger">Off screen</a>
                      {{/if}}
                    </td>
                    <td>
                      {{#if blockstatus}}
                      <a href="/admin/blockbanner?id={{this._id}}" class="btn btn-danger">Block</a>
                      {{else}}
                      <a href="/admin/unblockbanner?id={{this._id}}" class="btn btn-success">Unblock</a>
                      {{/if}}
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <!--start overlay-->
      <div class="overlay toggle-menu"></div>
      <!--end overlay-->

    </div>
    <!-- End container-fluid-->

  </div><!--End content-wrapper-->
  <!--Start Back To Top Button-->
  <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
  <!--End Back To Top Button-->

  {{!-- <!--Start footer-->
  <footer class="footer">
    <div class="container">
      <div class="text-center">
        Copyright © 2018 Dashtreme Admin
      </div>
    </div>
  </footer>
  <!--End footer-->

  <!--start color switcher-->
  <div class="right-sidebar">
    <div class="switcher-icon">
      <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
    </div>
    <div class="right-sidebar-content">

      <p class="mb-0">Gaussion Texture</p>
      <hr>

      <ul class="switcher">
        <li id="theme1"></li>
        <li id="theme2"></li>
        <li id="theme3"></li>
        <li id="theme4"></li>
        <li id="theme5"></li>
        <li id="theme6"></li>
      </ul>

      <p class="mb-0">Gradient Background</p>
      <hr>

      <ul class="switcher">
        <li id="theme7"></li>
        <li id="theme8"></li>
        <li id="theme9"></li>
        <li id="theme10"></li>
        <li id="theme11"></li>
        <li id="theme12"></li>
        <li id="theme13"></li>
        <li id="theme14"></li>
        <li id="theme15"></li>
      </ul>

    </div>
  </div>
  <!--end color switcher-->

</div><!--End wrapper-->


<!-- Bootstrap core JavaScript-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- simplebar js -->
<script src="assets/plugins/simplebar/js/simplebar.js"></script>
<!-- sidebar-menu js -->
<script src="assets/js/sidebar-menu.js"></script>

<!-- Custom scripts -->
<script src="assets/js/app-script.js"></script>

</body>

</html> --}}

<script>
  $(document).ready(function () {
    $('#dtBasicExample').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
</script>