
<div class="clearfix"></div>
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row ">
        <a class="btn btn-primary ml-5" href="/admin/addcategory">Add Category</a>
        <div class="col-md-12 p-3">
          <div class="card ">
            <div class="card-body">
              <h5 class="card-title">Striped Table</h5>
			  <div class="table-responsive">
               <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col">Category Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Activities</th>
                    </tr>
                  </thead>

                  {{#each products}}
                  <tbody>
                    <tr>
                      <th scope="row">{{math @index "+"1}}</th>
                      <td>{{this.categoryname}}</td>
                      <td>{{this.description}}</td>
                      <td>
                        <a href="/admin/editcategory?id={{this._id}}" class="btn btn-primary">Edit</a>
                        <a href="/admin/deletecategory?id={{this._id}}" class="btn btn-danger">Delete</a>
                      </td>
                    </tr>
                  </tbody>
                  {{/each}}

                </table>
            </div>
            </div>
          </div>
        </div>
	  <!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->

    </div>
    <!-- End container-fluid-->
    
    </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	
	
