{{!--

<div class="clearfix"></div>

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row ">
      <a class="btn btn-primary ml-5" href="/admin/addproduct">Add Product</a>
      <div class="col-md-12 p-3">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">Product details</h5>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Offer Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Activities</th>
                  </tr>
                </thead>
                {{#each products}}
                <tbody>
                  <tr>
                    <th scope="row">{{math @index "+"1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.offerprice}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.description}}</td>
                    <td><img style="height: 50px; width: 50px;" src='/productImage/{{this.image1}}' alt=""></td>
                    <td>
                      <a href="/admin/editproduct?id={{this._id}}" class="btn btn-primary">Edit</a>
                      <a href="/admin/deleteproduct?id={{this._id}}" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                </tbody>
                {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>


      <!--start overlay-->
      <div class="overlay toggle-menu"></div>
      <!--end overlay-->

    </div>
    <!-- End container-fluid-->

  </div><!--End content-wrapper-->
  <!--Start Back To Top Button-->
  <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
  <!--End Back To Top Button-->

  <div class="product__pagination mt-5">
    {{#each pageCount}}
    <a href="/admin/productmanagement?id={{this}}" class="text-white"> <button
        class="btn btn-secondary rounded">{{this}}</button> </a>
    {{/each}}
    {{!-- {{#unless (next to last page)}} --}}
    {{!-- <a href="#"><i class="fa-sharp fa-solid fa-circle-chevron-right text-muted"></i></a> --}}
    {{!-- {{/unless}} --}}
    {{!--
  </div> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"></script>
<script src="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

  <link href="toastr.min.css" rel="stylesheet"/>

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row ">
      <a class="btn btn-primary ml-5" href="/admin/addproduct">Add Product</a>

      <div class="col-md-12 p-3">
        <div class="card ">
          <div class="card-body">
            <div class="table-responsive">
              <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="th-sm">No
                    </th>
                    <th class="th-sm">Name
                    </th>
                    <th class="th-sm">Category
                    </th>
                    <th class="th-sm">Price
                    </th>
                    <th class="th-sm">Offer Price
                    </th>
                    <th class="th-sm">Stock
                    </th>
                    <th class="th-sm">Description
                    </th>
                    <th class="th-sm">Image
                    </th>
                    <th class="th-sm">Activities
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {{#each products}}
                    <th scope="row">{{math @index "+"1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.offerprice}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.description}}</td>
                    <td><img style="height: 50px; width: 50px;" src='/productImage/{{this.image1}}' alt=""></td>
                    <td>
                      <a href="/admin/editproduct?id={{this._id}}" class="btn btn-primary" >Edit<a/>
                      <a href="/admin/deleteproduct?id={{this._id}}" class="btn btn-danger" id="show-toast-btn">Delete</a>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  {{!-- <div class="container" style="padding-left: 250px;">
    <div class="row">

    </div>
  </div> --}}

  

 
<script>
  $(document).ready(function () {
$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');
});
</script>


<style>
  /* Override default styles */
.toast-success {
  background-color: rgb(51, 197, 51); /* Green background color */
  color: #f1efef; /* White font color */
  width: 100px;
}

</style>


<script>
  
 // Get a reference to the button
const showToastBtn = document.querySelector('#show-toast-btn');

// Add a click event listener to the button
showToastBtn.addEventListener('click', function() {
  // Display a Toastr message
  toastr.success('Successfully Deleted');
});

</script>



 